* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html,
body {
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #6394c9;
  outline: 0;
  box-shadow: 0 0 0 0.1rem rgb(178 204 231 / 25%) !important;
}

select.form-control:not([size]):not([multiple]) {
  height: unset !important;
}

.p20 {
  padding: 20px 0;
}
.p60 {
  padding: 60px 0;
}
.hidden {
  display: none;
  visibility: hidden;
}

/* Header */
.itmf__header .navbar {
  background: #7ec9eb;
  /* background-image: linear-gradient(
    30deg,
    rgba(126, 201, 235, 0.5) 30%,
    rgba(239, 156, 143, 0.5) 100%
  ); */
  box-shadow: 2px 2px 3px #b5b3b338;
}

.itmf__header .navbar .navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}

.itmf__header .navbar .navbar-brand img {
  width: 85px;
  filter: drop-shadow(2px 3px 2px rgba(0, 0, 0, 0.15));
}

.navbar-expand-lg .navbar-collapse {
  flex-direction: row-reverse;
}

.navbar-collapse .navbar-nav .nav-item {
  padding: 0 10px;
}

.navbar-collapse .navbar-nav .nav-item .nav-link {
  color: #fff;
  transition: all 0.3s;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #000;
}

.navbar-toggler:focus {
  outline: none;
}

/* Banner Section */
.itmf__banner {
  background-image: linear-gradient(
    30deg,
    rgba(126, 201, 235, 0.5) 30%,
    rgba(239, 156, 143, 0.5) 100%
  );
}

.itmf__banner .imtmf__banner--left img {
  width: 100%;
  filter: drop-shadow(3px 4px 5px rgba(0, 0, 0, 0.15));
}

.itmf__banner .imtmf__banner--right {
  color: #fff;
}

.itmf__banner .imtmf__banner--right h1 {
  font-size: 43px;
  font-weight: 600;
  line-height: 1.2em;
  padding-top: 15px;
}

.itmf__banner .imtmf__banner--right .imtmf__banner--right-des {
  padding: 5px 10px 5px 10px;
  background-color: #7ec9eb;
  border-radius: 6px 6px 6px 6px;
  color: #fff;
  display: inline-block;
  margin: 20px 0;
  font-size: 18px;
}

.imtmf__banner--tagline img {
  margin-top: 20px;
  width: 350px;
}

.itmf__banner .imtmf__banner--free {
  font-size: 24px;
  margin-bottom: 0;
}

/* Sub Description Section */
.itmf__subdesciption .itmf__subdesciption--content {
  padding: 10px 0;
}
.itmf__subdesciption .itmf__subdesciption--content marquee {
  font-size: 20px;
  font-weight: 500;
}

/* Question Text Section */
.itmf__questiontext {
  background-color: #c4e5f54f;
}
.itmf__questiontext .itmf__questiontext--content {
  font-size: 28px;
}
.itmf__questiontext .itmf__questiontext--content strong {
  font-size: 36px;
}

/* Info Product Section */
.itmf__infoproduct {
  background-image: linear-gradient(
    30deg,
    rgba(126, 201, 235, 0.5) 30%,
    rgba(239, 156, 143, 0.5) 100%
  );
}

.itmf__infoproduct .itmf__infoproduct--wrap img {
  width: 90%;
}

.itmf__infoproduct .itmf__infoproduct--wrap .itmf__infoproduct--right {
  max-width: 65%;
}

.itmf__infoproduct .itmf__infoproduct--wrap .itmf__infoproduct--right p {
  font-size: 24px;
  color: #fff;
  margin-bottom: 20px;
  padding-right: 45px;
}

.itmf__infoproduct .itmf__infoproduct--wrap .itmf__infoproduct--right h2 {
  font-size: 52px;
  font-weight: bold;
  line-height: 1.3em;
  margin-bottom: 20px;
}

.itmf__infoproduct .itmf__infoproduct--wrap .itmf__infoproduct--right h2 span {
  background-color: #000;
  display: inline-flex;
  color: #fff;
  width: 56px;
  height: 56px;
  text-align: center;
  border-radius: 99px;
  font-size: 48px;
  line-height: 60px;
  align-items: center;
  justify-content: center;
}

.itmf__infoproduct .itmf__infoproduct--wrap .itmf__infoproduct--right-bt {
  font-size: 24px;
  width: 61%;
}

.sec-img {
  position: relative;
  z-index: 1;
}

.sec-img::after {
  content: "";
  height: 85px;
  width: 100%;
  display: block;
  background-color: rgba(239, 156, 143, 0.3);
  position: absolute;
  bottom: 12.5%;
  z-index: -2;
  left: 0;
  right: 0;
}

/* Ingredient Section */
.itmf__ingredient {
  background-color: #c4e5f54f;
}

.itmf__ingredient .itmf__ingredient--title h2 {
  font-size: 52px;
  font-weight: bold;
  line-height: 1.2em;
  margin-bottom: 20px;
  color: #6bbbd8;
}

.itmf__ingredient .itmf__ingredient--desciption p {
  font-size: 20px;
}

.itmf__ingredient .itmf__ingredient--pic {
  max-width: 900px;
  margin: 0 auto;
}

.itmf__ingredient .itmf__ingredient--pic img {
  width: 100%;
  transition-duration: 0.3s;
  transition-property: transform;
}

.itmf__ingredient .itmf__ingredient--pic img:hover {
  transform: scale(1.1);
}

.itmf__ingredient--note {
  max-width: 900px;
  margin: 0 auto;
}

/* Commit Section */
.itmf__commit {
  background-image: url("../assets/Gao_1920x7002.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.itmf__commit .itmf__commit--title h2 {
  font-size: 52px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.4em;
}
.itmf__commit .itmf__commit--title h2 strong {
  font-size: 62px;
}
.itmf__commit .itmf__commit--item {
  margin-bottom: 12px;
}
.itmf__commit .itmf__commit--item .commit__item--number {
  font-size: 69px;
  font-weight: 600;
  line-height: 1.3;
}
.itmf__commit .itmf__commit--item .commit__item--text {
  font-size: 19px;
}

.itmf__commit .itmf__commit--note p {
  font-size: 14px;
}

/* Formula Section */
.itmf__formula {
  background-color: #c4e5f54f;
}
.itmf__formula .itmf__formula--title h2 {
  font-size: 52px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.3em;
}
.itmf__formula .itmf__formula--table {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #000;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.itmf__formula--table .formula__table--left {
  border-style: solid;
  border-width: 0px 1px 0px 0px;
  border-color: #000000;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 5px 10px;
}
.itmf__formula--table .formula__table--left p {
  margin-bottom: 0;
  font-size: 24px;
}
.itmf__formula--table .formula__table--left h2 {
  font-size: 72px;
  margin-bottom: 0;
}
.formula__table--right .formula__table-items {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.formula__table--right .formula__table-items .formula__table-item {
  display: flex;
  align-items: center;
}

.formula__table--right .formula__table-item .formula__table-icon svg {
  width: 48px;
  height: 48px;
}

/* extend */
.cls-1 {
  fill: #211d1e;
}
.cls-2 {
  fill: #fce85b;
  stroke: #231f20;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 0.5px;
}
/* extend */
.itmf__formula--note p {
  font-size: 14px;
  line-height: 1rem;
}

/* Form register */
.itmf__registerform {
  background: #6bbbd8;
  /* background-image: linear-gradient(0deg, #8ad4ef 0%, #e9c2b3 100%); */
}

.itmf__registerform .itmf__registerform--title h2 {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.3em;
  color: #fff;
}

.itmf__registerform .itmf__registerform--text {
  font-size: 22px;
  color: #fff;
}

.itmf__registerform .col-form-label {
  color: #fff;
  font-weight: 500;
  font-size: 18px;
}

.itmf__registerform .form-group .form-control {
  padding: 0.675rem 0.75rem !important;
  margin-bottom: 8px;
}

.itmf__registerform .itmf__registerform--form .form-group .btn-submit {
  padding: 15px 60px !important;
  background-color: #e9776c !important;
  color: #fff;
  border: none;
  transition: all 0.3s ease-in;
  text-transform: uppercase;
  font-weight: 500;
}

.itmf__registerform .itmf__registerform--form .form-group .btn-submit:hover {
  filter: contrast(1.2);
}

.itmf__surveyform {
  /* padding: 10px 18px; */
  background-color: #F5F6F7;
}

.itmf__surveyform .itmf__surveyform--title h2 {
  font-size: 52px;
  font-weight: bold;
  line-height: 1.2em;
  margin-bottom: 20px;
  color: #6bbbd8;
}

/* Responsive */
@media (max-width: 768px) {
  .collapse.show {
    padding-top: 10px;
  }

  .itmf__banner {
    padding: 8px 0 12px 0;
  }

  .itmf__banner .imtmf__banner--right {
    padding-bottom: 10px;
  }

  .itmf__banner .imtmf__banner--free {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 0;
  }

  .itmf__banner .imtmf__banner--right .imtmf__banner--right-des {
    font-size: 16px;
    display: none;
  }

  .imtmf__banner--tagline img {
    width: 300px;
  }

  .itmf__infoproduct {
    padding: 25px 0 60px 0;
  }

  .itmf__infoproduct .itmf__infoproduct--wrap img {
    width: 100%;
  }

  .itmf__infoproduct .itmf__infoproduct--wrap .itmf__infoproduct--right {
    max-width: 100%;
  }

  .itmf__infoproduct .itmf__infoproduct--wrap .itmf__infoproduct--right p {
    font-size: 18px;
    padding-right: 0;
  }

  .itmf__infoproduct .itmf__infoproduct--wrap .itmf__infoproduct--right h2 {
    font-size: 29px;
    padding-bottom: 5px;
    line-height: 1.4;
  }
  .itmf__infoproduct .itmf__infoproduct--wrap .itmf__infoproduct--right-bt {
    font-size: 21px;
    width: 100%;
  }

  .sec-img::after {
    bottom: 8.5% !important;
    height: 70px !important;
  }

  .itmf__commit {
    background-position: inherit;
  }

  .itmf__commit .itmf__commit--title h2 {
    font-size: 29px;
  }

  .itmf__commit .itmf__commit--title h2 strong {
    font-size: 45px;
  }

  .itmf__commit .itmf__commit--note p {
    text-align: justify;
  }

  .itmf__formula .itmf__formula--title h2 {
    font-size: 29px;
    text-align: center;
  }

  .itmf__formula--table .formula__table--left {
    border-bottom: 1px solid #000;
    padding: 15px 10px;
    border-style: unset;
  }

  .itmf__formula .formula__table--right {
    width: 100%;
  }

  .formula__table--right .formula__table-items {
    font-size: 13px;
    padding: 15px 0;
  }

  .formula__table--right .formula__table-items .formula__table-item {
    padding-left: 40px;
  }

  .formula__table--right .formula__table-item .formula__table-icon svg {
    width: 35px;
    height: 35px;
  }

  .itmf__formula--note p {
    font-size: 13px;
    line-height: 1.3rem;
  }

  .navbar-collapse .navbar-nav .nav-item .nav-link {
    text-align: center;
    color: #000;
    color: #fff;
    border: 1px solid #fff;
    font-weight: 700;
    border-radius: 25px;
    margin-bottom: 14px;
  }

  .itmf__banner .imtmf__banner--right h1 {
    font-size: 29px;
    margin-bottom: 0;
    line-height: 1.4;
  }

  .itmf__questiontext .itmf__questiontext--content {
    font-size: 21px;
  }

  .itmf__questiontext .itmf__questiontext--content strong {
    font-size: 24px;
  }

  .itmf__ingredient .itmf__ingredient--title h2 {
    font-size: 29px;
    line-height: 1.3em;
    padding: 0 18px;
  }

  .itmf__ingredient .itmf__ingredient--desciption p {
    margin-bottom: 24px;
  }

  .itmf__ingredient .itmf__ingredient--pic .row div {
    padding: 0.5rem 1rem !important;
  }

  .itmf__ingredient--note {
    text-align: justify;
  }

  .itmf__registerform .itmf__registerform--title h2 {
    font-size: 28px;
  }

  .itmf__registerform .itmf__registerform--text {
    font-size: 16px;
  }

  .itmf__registerform .itmf__registerform--form {
    margin-top: 30px !important;
  }

  .itmf__registerform .itmf__registerform--form .form-group {
    margin-bottom: 10px !important;
  }

  .itmf__registerform .itmf__registerform--form .form-group .btn-submit {
    margin-top: 15px;
  }

  /* Display none BG Larksuite */
  .hiddenBG {
    display: none;
  }

  /* Title itmf survey form */
  .itmf__surveyform {
    /* padding: 10px 18px; */
  }

  .itmf__surveyform .itmf__surveyform--title h2 {
    font-size: 30.5px;
    line-height: 1.3em;
    padding: 0 18px;
  }

  .itmf__formula {
    margin-bottom: 80px;
  }
}
